body{
    background-color: black;
}
.cardPost{
    background-color: rgb(164, 164, 164);
    border-color: 1px solid white;
    margin-bottom: 24px;
    border-radius: 24px;
}

.imgCardPost{
    float: left;
    width: 40%;
    height: 200px;
    background-color: red;
}