.options-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.rounded-50 {
  border-radius: 50% !important;
  padding-right: 12px;
  padding-left: 12px;
}